{% extends 'base.html' %}
{% block title %}用户登录{% endblock %}
{% block main %}
      <div class="m-auto" style="max-width:330px">
      <h3 class="mb-3">用户登录</h3>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="email" class="form-label">邮箱</label>
          <input type="email" class="form-control" id="email" name="email" />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">密码</label>
          <input type="password" class="form-control" id="password" name="password"/>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input"  name="remember" value="1" id="flexCheckDefault" />
          <label class="form-check-label" for="flexCheckDefault">记住我</label>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary w-100">登录</button>
        </div>
      </form>
    </div>
{% endblock %}