{% extends 'base.html' %}
{% block title %}注册用户{% endblock %}
{% block head %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{% static 'js/regist.js' %}"></script>
{% endblock %}
{% block main %}
    <div class="m-auto" style="max-width: 330px">
      <h3 class="mb-3">注册用户</h3>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">用户名</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">邮箱</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
          />
        </div>
        <div class="mb-3">
          <label for="captcha" class="form-label">验证码</label>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              name="captcha"
              placeholder="验证码"
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="btn_send_captcha"
            >
              获取验证码
            </button>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">密码</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
          />
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary w-100">登录</button>
        </div>
      </form>
    </div>
{% endblock %}